<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <!--made changes to the list items -->
      <li>Cake</li>
      <li>Pancakes</li>
      <li>Brownies</li>
      <li>add more treats...</li>
    </ul>
  </body>
</html>